<!-- <h3>{{title}}</h3>
<div class="card-header">
    <a routerLink='/joblist'>JobList</a>
   <a routerLink="/addjob">Add Job</a>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>

        </ul>
    </div>
</nav>